#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

JSON_URL := https://downloads.arduino.cc/packages/package_index.json
AVR_VERSION := 1.8.1

DOWNLOADS = ../../downloads

%:
	dh $@ 

override_dh_builddeb:
	dh_builddeb -- -Zgzip

package_index.json:
	wget -c $(JSON_URL)

override_dh_auto_build: package_index.json
	AVR_FILENAME=`../../tools/parseJson -i package_index.json -p arduino -P "Arduino AVR Boards" -v $(AVR_VERSION) -k archiveFileName` && \
	AVR_URL=`../../tools/parseJson -i package_index.json -p arduino -P "Arduino AVR Boards" -v $(AVR_VERSION) -k url` && \
	echo $${AVR_FILENAME} && \
	wget -c -O $(DOWNLOADS)/$${AVR_FILENAME} $${AVR_URL} && \
	mkdir -p tmp && \
	tar -jxf $(DOWNLOADS)/$${AVR_FILENAME}

override_dh_auto_clean:
	rm -f package_index.json
